# SPDX-License-Identifier: MIT OR LGPL-2.0-or-later
# SPDX-FileCopyrightText: 2020 Philip Chimento <philip.chimento@gmail.com>
/tools/node_modules
# artifact from ci-templates:
/container-build-report.xml
debian/tmp
debian/libcjs0
debian/libcjs-dbg
debian/libcjs-dev
debian/cjs
debian/.debhelper
debian/*.substvars
debian/*.debhelper.log
debian/debhelper-build-stamp
debian/files